.morado{                /*Este css es un estilo general que pueden utilizar todos los html*/
    background-color: rgba(118,47,207,255);
}
.rojo{
    background-color: rgba(243,73,38,255);
}
.left{
    float: left;
}
.right{
    float: right;
}
.mitad{
    width: 50%;
}
.columna{
    display: flex;
    flex-direction: column;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    height: 50px;
    padding-top: auto;
    color: white;
    text-align: center;
}