body{
    background-color: rgba(243,73,38,255);
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: row;
    color: white;
    padding-top: 50px;
}
article{
    display: flex;
    flex-direction: column;
    width: 50%;
}
a{
    margin-top: 40px;
    margin-left: 50px;
}
input{
    border: 2px solid black;
    color: white;
    width: 200px;
    height: 50px;
}
section{
    margin-top: 10%;
    height: 150px;
    width: 100%;
    border-radius: 40px; 
    text-align: center;   
}
section p{
    padding-right: 20px;
    padding-left: 20px;
}
.right{
    float: right;
}
.left{
    float:left;
}
img{
    background-color: white ;
    height: 350px;
    width: 350px;
}
.caja{
    width:457px;
    height:450;
}
textarea{
    border: 5px solid black;
}
