body{
    background-color: rgba(243,73,38,255);
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: row;
    color: white;
}
article{
    display: flex;
    flex-direction: column;
    width: 50%;
}
input{
    background-color: rgb(152,68,244);
    border: 2px solid black;
    color: white;
}
section{
    margin-top: 10%;
    margin-right: 20%;
    height: 100px;
    width: 100%;
    background-color: rgb(152,68,244);
}
.right{
    float: right;
}
.left{
    float:left;
}
img{
    background-color: white ;
}
textarea{
    border: 5px solid black;
}