*{
    color:white;
}
.morado{
    background-color: rgb(152,68,244);
}
.rojo{
    background-color: rgba(243,73,38,255);
}
.tarjeta{
    background-color: white;
    width: 100px;
}
.tarjeta img{
    max-width: 200px;
}
.tarjeta p{
    color: rgba(243,73,38,255);
}
#tarjetas{
    display: block;    
}
.bloque{
    height: 100px;
    width: 35%;
}